{% load staticfiles %}

<html>
    <head>
        <title>Visit Count</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/redis_test.css' %}">
        <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
    </head>
    <body>
        <div class="page-header">
            <h1><a href="/">Visit Count</a></h1>
            <h2>
                {% if user.is_anonymous %}
                    <a href="/accounts/login">로그인</a>
                {% else %}
                    <a href="/accounts/logout">로그아웃</a>
                {% endif %}
            </h2>
        </div>
    {% block content %}
    {% endblock %}
    </body>
</html>